chroma-hnswlib
chromadb
huggingface-hub
langchain
langchain-chroma
langchain-groq
langchain_huggingface
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchainhub
langdetect
langsmith
numpy
#openai
opencv-python
pandas
# pdf2image
pdfminer.six
# pdfplumber
#pikepdf
pillow
pillow_heif
pyarrow
pydantic
pypdf
#pypdf2
#pypdfium2
#pytesseract
python-dotenv
# PyYAML
rank-bm25
regex
requests
rich
safetensors
scikit-learn
# scipy
sentence-transformers
SQLAlchemy
# Streamlit
streamlit
streamlit-cookies-controller
sympy
tiktoken
tokenizers
toml
#torch
#torchvision
tqdm
transformers
#watchdog
#watchfiles
wikipedia
